.navlink {
    border: 1px solid #ffffff;
    padding: 1.25rem;
}

.active {
  background-color: #ffffff;
}

@media (prefers-color-scheme: light) {
    .navlink {
      border-color: #213547;
    }

    .active {
      background-color: #213547;
    }
}